<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Event List</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.7/dist/tailwind.min.css" rel="stylesheet">
</head>
<div th:insert="header :: header"></div>
<body>
<div class="container mx-auto mt-4">
    <div class="container ">
        <h1 class="text-3xl font-bold mb-4">Events</h1>
    </div>
    <div class="container">
        <a href="/addEvent" class="rounded-full">Add Event</a> <!-- This href attribute is set to the path where your addEvent.html is served -->
    </div>



    <ul>
        <th:block th:each="event : ${events}">
            <li class="border p-4 mb-2 rounded">
                <p>Event Title:
                    <a th:href="@{/events/{id}(id=${event.id})}">
                    <h2 class="text-xl font-semibold" th:text="${event.eventName}"> </h2>
                    </a>
                </p>

                <p class="text-gray-700" th:text="${event.eventDescription}"></p>
                <p class="text-sm text-blue-500" th:text="${event.eventLocation}"></p>
                <p class="text-sm text-blue-500" th:text="${event.eventWebsite}"></p>
                <p class="text-sm text-blue-500" th:text="${event.eventType}"></p>
                <p class="text-sm text-blue-500" th:text="${event.eventDate}"></p>
            </li>
        </th:block>
    </ul>
</div>

<div th:insert="footer :: footer"></div>
</body>
</html>
